.card-profile{
    height:10vh;
    width: 10vw;
    border-radius: 50%;
    margin-top: 2vh;
}


.card-item{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.card-item2{
    margin-left: 1vw;
    margin-top: 3vh;
}